<div class="navControl" style="position:absolute;top:0px;width:100%;height:30px;z-index:2"></div>
<nav class="navbar navbar-default navbar-fixed-top" style="display:none">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav selectors">
                <li class="img-circle" style="background-color: #ff5e5e;">
                    <img src="@Url.Content("~/Resource/jiangpin5.png")" alt="五等奖" />
                    <span>五等奖</span>
                </li>
                <li class="img-circle" style="background-color: #ff3300;">
                    <img src="@Url.Content("~/Resource/jiangpin4.png")" alt="四等奖" />
                    <span>四等奖</span>
                </li>
                <li class="img-circle" style="background-color: #6666ff;">
                    <img src="@Url.Content("~/Resource/jiangpin3.png")" alt="三等奖" />
                    <span>三等奖</span>
                </li>
                <li class="img-circle" style="background-color: #cc9900;">
                    <img src="@Url.Content("~/Resource/jiangpin2.png")" alt="二等奖" />
                    <span>二等奖</span>
                </li>
                <li class="img-circle" style="background-color: #ff9900;">
                    <img src="@Url.Content("~/Resource/jiangpin1.png")" alt="一等奖" />
                    <span>一等奖</span>
                </li>
                <li class="img-circle" style="background-color: gold;">
                    <img src="@Url.Content("~/Resource/jiangpin0.png")" alt="特等奖" />
                    <span>特等奖</span>
                </li>
                <li class="img-circle" style="background-color: #e15e34;">
                    <img src="@Url.Content("~/Resource/jingxi.png")" alt="惊喜奖" />
                    <span>惊喜奖</span>
                </li>
                <li class="img-circle" style="background-color: #99cc00;">
                    <img src="@Url.Content("~/Resource/zhuanpan.png")" alt="幸运大转盘" style="top: 14px;" />
                    <span style="left: -5px; white-space: nowrap;">幸运大转盘</span>
                </li>
                <li class="img-circle" style="background-color: #9966ff;">
                    <img src="@Url.Content("~/Resource/vs.png")" alt="组间对战" style="top: 14px;" />
                    <span style="left: 2px; white-space: nowrap;">组间对战</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="img-circle clearRd" style="background-color: #cc9900;">
                    <img src="@Url.Content("~/Resource/remove.png")" alt="清除记录" style="top: 14px;" />
                    <span style="left: 2px;">清除记录</span>
                </li>
                <li class="img-circle setting" style="background-color: #00cc99;">
                    <img src="@Url.Content("~/Resource/shezhi.png")" alt="设置" style="top: 14px;" />
                    <span style="left: 16px;">设置</span>
                </li>
                @*<li class="img-circle" style="background-color: #ff0000;">
                        <img src="@Url.Content("~/Resource/guanji.png")" alt="关闭" style="top: 14px; left: 14px;" />
                        <span style="left: 16px;">关闭</span>
                    </li>
                    <li class="img-circle screenBtn" style="background-color: #99cc00;">
                        <img src="@Url.Content("~/Resource/max.png")" alt="全屏" style="top: 14px;" />
                        <span style="left: 16px;">全屏</span>
                    </li>*@
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
